body {
	background-color: #d8e5f1;
}

.navigationDiv {
	margin: 0 46px !important;
}

.navbar {
	background-color: #337ab7;
	padding-top: 20px !important;
}

.logoTitle {
	color: white;
	font-weight: 500;
}

.userIcon {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
	color: white;
	font-size: medium;
	margin-right: 5px;
}

.logoImage {
	margin-top: -8px;
}

.signUpdiv {
	display: flex;
	align-items: center;
}

.signUpText,
.LoginText {
	color: white;
	font-size: small;
	text-decoration: none;
}

.loginIcon {
	font-variation-settings:
		'FILL' 1,
		'wght' 600,
		'GRAD' 0,
		'opsz' 24;
	color: white;
	font-size: medium;
	margin-left: 12px;
	margin-right: 5px;
}

.loginMainContainer,
.listContainer {
	background-color: #d8e5f1;
}

.listContainer {
	height: 20px;
}

.loginMainContainer {
	height: 575px;
}

.printDiv {
	background-color: white;
	height: 50px;
}

.leftSpace,
.rightSpace {
	width: 8%;
	background-color: #d8e5f1;
}

.printDiv {
	width: 84%;
}

.mainContainer {
	background-color: #d8e5f1;
	height: 575px;

}

.leftSection {
	background: white;
	width: 180px;
	height: 196px;
	padding: 16px;
	margin-left: 8%;
	justify-content: center;
	align-items: center;
}

.leftSection div button {
	color: white;
	background: #337ab7;
	border-radius: 16px;
	border: none;
	font-size: small;
	font-weight: 500;
}

.leftSection div p {
	color: #337ab7;
	font-weight: 600;
	display: flex;
	align-items: center;
}

.listDiv {
	padding-top: 10px;
}

.listDiv a {
	padding-right: 6px;
}

.loginCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #337ab7;
}

.leftContent {
	margin: 56px;
}

.rightContent {
	background: white;

}

.rightContent input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid grey;
	background: white;
	width: 359px;
	padding: 10px;
	margin-left: 17px;
}

div.rightContent>span:first-child {
	padding-left: 131px;
	font-size: x-large;
	color: #337ab7;
}

.rightContent button {
	margin-left: 72px;
	width: 204px;
	border-radius: 18px;
	border: 1px solid #337ab7;
	color: #337ab7;
	font-weight: 500;
}

#signuptext {
	padding-left: 115px;
	font-size: smaller;
	color: gray;
	padding-top: 13px;

}

.iconDiv {
	margin-left: 112px !important;
}

.registerDiv {
	color: gray;
	margin: 14px 0px 14px 20px;

}

.registerDiv a {
	text-decoration: none;
}

#pdf {
	width: 30px;
	height: 30px;
}

.print {
	font-variation-settings:
		'FILL' 1,
		'wght' 300,
		'GRAD' 0,
		'opsz' 24;
	color: #5c5c5c;
	font-size: xx-large;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	color: #337ab7;
	font-size: small;
}

th,
td {
	padding: 8px;
	text-align: left;
}

tr {
	border-bottom: 1px solid #D3D3D3 !important;
}

.rightSection {
	margin-left: 19px;
	height: fit-content;
	background: white;
}

.modalLeft {
	width: 2%;
	height: auto;
}

.modal-dialog {
	max-width: 50% !important;
}

.modal-header {
	width: 74%;
	display: inline !important;
	background-color: white;
}

.modal-title-div {
	background-color: #daeef7 !important;
	display: flex;
	justify-content: center;
	align-items: center;

}

.modal-title {
	color: #337ab7;
}

.modal-content {
	background-color: #daeef7 !important;
}

.personContact {
	margin-top: 9px;
	border-bottom: 2px solid #337ab7;
	font-size: larger;
	color: #337ab7;
	font-weight: 500;
}

.personContact p {
	margin: 0px;
}

.titleLabel label {
	color: #337ab7;
	font-weight: 600;
}


input,
select {
	border: none;
	border-bottom: 1px solid lightgray;
	color: #5c5c5c;
	outline: none;
}

#createSubmitBtn {
	border-radius: 16px;
	margin-top: 10px;
	border: none;
	border: 1px solid #337ab7;
	color: #337ab7;
}